#submit-btn{
    text-transform:uppercase;
    background:green;
    color:rgb(240, 229, 229);
    font-weight:bold;
    font-size:18px;
    padding: 5px 39px;
    border:none;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}